<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeollu.getrend.store.dao.InstaReplyMapper">
<insert id="replyWrite" parameterType="reply">
<![CDATA[
insert into
	insta_replys(
		reply_no
		,store_no
		,user_email
		,reply_contents
		,reply_star
	)values(
		seq_insta_replys.nextval
		,#{store_no}
		,#{user_email}
		,#{reply_contents}
		,to_number(#{reply_star})
	)
]]>
</insert>

<delete id="replyRemove" parameterType="reply">
<![CDATA[
delete
	insta_replys
where
	reply_no = #{reply_no}
]]>
</delete>

<select id="replyList" parameterType="reply" resultType="hashmap">
<![CDATA[
select
	r.reply_no as reply_no
	,r.store_no as store_no 
	,r.user_email as user_email
	,r.reply_contents as reply_contents
	,r.reply_star as reply_star
	,to_char(r.reply_indate,'yyyy-MM-dd') as reply_indate
	,u.user_name as user_name
	,u.user_profile as user_profile
from
	insta_replys r, users u
where
	r.user_email = u.user_email
	and r.store_no = #{store_no}
order by
	r.reply_indate desc
]]>
</select>
	
<select id="replyListByEmail" parameterType="string" resultType="hashmap">
<![CDATA[
select
	r.reply_no as reply_no
	,s.store_no as store_no 
	,s.store_name as store_name
	,s.store_adr as store_adr
	,s.store_cate1 as store_cate1
	,s.store_x as store_x
	,s.store_y as store_y
	,r.user_email as user_email
	,r.reply_contents as reply_contents
	,r.reply_star as reply_star
	,to_char(r.reply_indate,'yyyy-MM-dd') as reply_indate
	,u.user_name as user_name
	,u.user_profile as user_profile
from
	insta_replys r, stores s, users u
where
	r.store_no = s.store_no
and
	r.user_email = u.user_email 
and
	r.user_email = #{user_email}
order by
	r.reply_no desc	
]]>
</select>

<select id="replyListByFollow" parameterType="string" resultType="hashmap">
<![CDATA[
select
	r.reply_no as reply_no
	,s.store_no as store_no 
	,s.store_name as store_name
	,s.store_adr as store_adr
	,r.user_email as user_email
	,r.reply_contents as reply_contents
	,r.reply_star as reply_star
	,to_char(r.reply_indate,'yyyy-MM-dd') as reply_indate
	,u.user_name as user_name
	,u.user_profile as user_profile
from
	insta_replys r, stores s, users u
where
	r.store_no = s.store_no
and
	r.user_email = u.user_email 
and
	r.user_email in (select follows_following from follows where user_email = #{user_email})
order by
	r.reply_no desc
]]>
</select>

<select id="replyListByLikedStore" parameterType="string" resultType="hashmap">
<![CDATA[
select
	r.reply_no as reply_no
	,s.store_no as store_no 
	,s.store_name as store_name
	,s.store_adr as store_adr
	,r.user_email as user_email
	,r.reply_contents as reply_contents
	,r.reply_star as reply_star
	,to_char(r.reply_indate,'yyyy-MM-dd') as reply_indate
	,u.user_name as user_name
	,u.user_profile as user_profile
from
	insta_replys r, stores s, users u
where
	r.store_no = s.store_no
and
	r.user_email = u.user_email 
and
	s.store_no in (select store_no from likes where user_email = #{user_email})
and
	r.user_email = #{user_email}
order by
	r.reply_no desc
]]>
</select>  

<select id="replyCountByStoreno" parameterType="string" resultType="int">
<![CDATA[
select
	count(*)
from
	insta_replys
where
	store_no = #{store_no}
]]>
</select>


</mapper>

