<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeollu.getrend.store.dao.MangoStoreMapper">

<insert id="insertMangoStore" parameterType="mangoStore">
insert into 
	mango_stores (
		store_no
		, mango_tel
		, mango_kind
		, mango_price
		, mango_parking
		, mango_time
		, mango_break_time
		, mango_last_order
		, mango_holiday
	) values(
		#{store_no}
		, #{mango_tel}
		, #{mango_kind}
		, #{mango_price}
		, #{mango_parking}
		, #{mango_time}
		, #{mango_break_time}
		, #{mango_last_order}
		, #{mango_holiday}
	)
</insert>

<select id="selectAllMangoStores" resultType="mangoStore">
select
	store_no
	, mango_tel
	, mango_kind
	, mango_price
	, mango_parking
	, mango_time
	, mango_break_time
	, mango_last_order
	, mango_holiday
	, mango_indate
from
	mango_stores
</select>

<select id="selectMangoStoreByStoreNo" parameterType="string" resultType="mangoStore">
select
	store_no
	, mango_tel
	, mango_kind
	, mango_price
	, mango_parking
	, mango_time
	, mango_break_time
	, mango_last_order
	, mango_holiday
	, mango_indate
from
	mango_stores
where
	store_no = #{store_no}
</select>

<select id="selectMangoStoreByMangoDay" parameterType="mangoDay" resultType="mangoStore">
select
	m.store_no
	, m.mango_tel
	, m.mango_kind
	, m.mango_price
	, m.mango_parking
	, m.mango_time
	, m.mango_break_time
	, m.mango_last_order
	, m.mango_holiday
	, m.mango_indate
	, d.mango_sun
	, d.mango_mon
	, d.mango_tue
	, d.mango_wed
	, d.mango_thu
	, d.mango_fri
	, d.mango_sat
from
	mango_stores m, mango_days d
where
	m.store_no = d.store_no
	<if test="mango_sun != null">
	and d.mango_sun = #{mango_sun}
	</if>
	<if test="mango_mon != null">
	and d.mango_mon = #{mango_mon}
	</if>
	<if test="mango_tue != null">
	and d.mango_tue = #{mango_tue}
	</if>
	<if test="mango_wed != null">
	and d.mango_wed = #{mango_wed}
	</if>
	<if test="mango_thu != null">
	and d.mango_thu = #{mango_thu}
	</if>
	<if test="mango_fri != null">
	and d.mango_fri = #{mango_fri}
	</if>
	<if test="mango_sat != null">
	and d.mango_sat = #{mango_sat}
	</if>
</select>

<select id="selectMangoStoreInfoByStoreNo" parameterType="map" resultType="mangoStoreInfo">
select
    m.store_no
    , m.mango_tel
    , m.mango_price
    , m.mango_parking
    , t.mango_start
    , t.mango_end
    , d.mango_sun
    , d.mango_mon
    , d.mango_tue
    , d.mango_wed
    , d.mango_thu
    , d.mango_fri
    , d.mango_sat
from
    mango_stores m, mango_times t, mango_days d
where
    m.store_no = t.store_no
    and m.store_no = d.store_no
    and m.store_no = #{store_no}
    <if test='!mango_sun.equals("0")'>
	and d.mango_sun = #{mango_sun}
	</if>
	<if test='!mango_mon.equals("0")'>
	and d.mango_mon = #{mango_mon}
	</if>
	<if test='!mango_tue.equals("0")'>
	and d.mango_tue = #{mango_tue}
	</if>
	<if test='!mango_wed.equals("0")'>
	and d.mango_wed = #{mango_wed}
	</if>
	<if test='!mango_thu.equals("0")'>
	and d.mango_thu = #{mango_thu}
	</if>
	<if test='!mango_fri.equals("0")'>
	and d.mango_fri = #{mango_fri}
	</if>
	<if test='!mango_sat.equals("0")'>
	and d.mango_sat = #{mango_sat}
	</if>
</select>

<select id="selectMangoStoreInfoByDays" parameterType="hashmap" resultType="mangoStoreInfo">
select
    m.store_no
    , m.mango_tel
    , m.mango_price
    , m.mango_parking
    , t.mango_start
    , t.mango_end
    , d.mango_sun
    , d.mango_mon
    , d.mango_tue
    , d.mango_wed
    , d.mango_thu
    , d.mango_fri
    , d.mango_sat
from
    mango_stores m, mango_times t, mango_days d
where
    m.store_no = t.store_no
    and m.store_no = d.store_no
    and m.store_no = #{store_no}
    <if test='mango_sun.equals("1")'>
	or d.mango_sun = #{mango_sun}
	</if>
	<if test='mango_mon.equals("1")'>
	or d.mango_mon = #{mango_mon}
	</if>
	<if test='mango_tue.equals("1")'>
	or d.mango_tue = #{mango_tue}
	</if>
	<if test='mango_wed.equals("1")'>
	or d.mango_wed = #{mango_wed}
	</if>
	<if test='mango_thu.equals("1")'>
	or d.mango_thu = #{mango_thu}
	</if>
	<if test='mango_fri.equals("1")'>
	or d.mango_fri = #{mango_fri}
	</if>
	<if test='mango_sat.equals("1")'>
	or d.mango_sat = #{mango_sat}
	</if>
</select>

</mapper>

