<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeollu.getrend.store.dao.StoreMapper">

<select id="selectAllStores" resultType="store">
select
	store_no
	, store_name
	, store_name2
	, store_cate1
	, store_cate2
	, store_cate3
	, store_dem
	, store_adr1
	, store_adr2
	, store_x
	, store_y
from
	stores
order by
	store_no asc
</select>

<select id="selectInstaStore" parameterType="string" resultType="instaStore">
select
	s.store_no
	, s.store_name
	, s.store_name2
	, s.store_cate1
	, s.store_cate2
	, s.store_cate3
	, s.store_dem
	, s.store_adr1
	, s.store_adr2
	, s.store_x
	, s.store_y
	, l.location_id
from
	stores s, insta_locations l
where
	s.store_no = l.store_no
	and s.store_no = #{store_no}
</select>


<select id="autoStoreName" resultType="string">
select
	distinct store_name
from
	stores
</select>
<select id="autoStoreAdr1_01" resultType="string">
select 
	distinct substr(store_adr1,7,2)
from stores
</select>
<select id="autoStoreAdr1_02" resultType="string">
select 
	distinct substr(store_adr1,10,3)
from stores
</select>

<select id="autoStoreCate3_01" resultType="string">
select 
	distinct store_cate3 
from 
	stores 
where 
	instr(store_cate3,'/') = 0
</select>


<select id="autoStoreCate3_02" resultType="string">
select 
	distinct substr(store_cate3,1,instr(store_cate3,'/',1)-1) 
from 
	stores 
where 
	instr(store_cate3,'/') != 0 
and 
	(instr(store_cate3,'/') = instr(store_cate3,'/',-1))
</select>


<select id="autoStoreCate3_03" resultType="string">
select 
	distinct substr(store_cate3,instr(store_cate3,'/',-1)+1)
from 
	stores 
where 
	instr(store_cate3,'/') != 0 
and 
	(instr(store_cate3,'/') = instr(store_cate3,'/',-1))
</select>




</mapper>

