@charset "UTF-8";
<<<<<<< HEAD
	@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

.navbar-brand{
	flex-direction: row;
	color: rgba(255, 138, 0, 0.78);
	font-family: Prompt;
	font-style: normal;
	font-weight: normal;
	font-size: 90px;
	line-height: 80px;
	/* or 89% */
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.2em;
	width: 300px;
		
}
#navbar-brand{
	color: rgba(255, 138, 0, 0.78);
=======
/* 여백 초기화 */
body, div, ul, li, dl, dd, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, figure, figcaption {margin:0; padding:0;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none;}
a:hover {color: #2698cb;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {font-family: 'Nanum Gothic', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; font-size: 13px; line-height: 1.5;}

.header_container{
	width : 100%; 
}
.header_logo{
	width : 20%;
	height : 100px;
	float : left;
	padding-top : 20px;
	padding-left : 30px;
}
.header_img{
	height : 50px;
}
.header_img:focus{
	border : none;
	outline:none;
}
.header_search{
	height : 100px;
	float : left;
	width : 55%;
	padding-top : 20px; 
	padding-left : 180px;
}
.search_border{
	height:53px;
	width : 600px;
	border-bottom:3px solid #FF8A00;
}
#searchInput{
	width : 500px;
	height : 40px;
	padding : 5px;
	margin : 8px 20px;
	border: none;
	outline : none;
	font-size : 15px;
>>>>>>> 6a1cc918c4d17a2087e8cdffc8508075327bba42
}
.navbar input[type='text']{
	background-color: rgba(255, 138, 0, 0.78);
	color:#FFFFFF;
	width:450px;

<<<<<<< HEAD
}
.navbar-light .navbar-brand {
    color: rgba(255, 138, 0, 0.78);
    /* margin-left: 14%; */
}
.navbar-brand:hover {
    color: rgba(255, 138, 0, 0.78);
}
#title:hover{
	    color: rgba(255, 138, 0, 0.78);
}
.form-inline{
	margin-top: 20px;
}

.menu_list{
  padding-top:30px; 
  margin-left:20px;
}
.form-control{
    margin-left:30px;

}

li:nth-of-type(n+10) { 
	display: none;
}

.ui-autocomplete .highlight {
	color: FF8A00;
}

.profile {
	border-radius: 60px;
	width: 30px;
	height: auto;
=======
#searchInput_img{
	width : 25px;
	top : 50%;
	padding-left : 5px;
	padding-top : 6px;
}

.header_menu{
	height : 100px;
	width : 25%;
	float : right;
	padding-top:30px; 
	padding-left : 120px;
}
.header_menu a{
	font-weight: bold;
	font-size : 15px;
	margin-left : 10px;
	
}
.header_menu a:hover{
	color : #FF8A00;
	text-decoration:none;	  
	transition:color .2s ease;
}
.header_profile{
	height: 50px;
	width : 50px;
}
li:nth-of-type(n+10) { 
	display: none; 
}
.ui-autocomplete .highlight {
	color: orange;
}

@media(max-width: 1360px){
	.header_container{
		width : 100%;
	}
	.header_search{padding-left : 50px;}
	.header_profile{display:none;}
	
}

@media (max-width: 1100px){
	.header_search{display:none;}
	.header_logo{width : 70%;}
	.header_menu{width : 30%;}
}
@media (max-width: 992px){
	.header_logo{width : 60%;}
	.header_menu{width : 40%;}
}

@media (max-width: 700px){
	.header_logo{width : 50%;}
	.header_menu{width : 50%;}
}
@media (max-width: 570px){
	.header_logo{width : 40%;}
	.header_menu{width : 60%;}
>>>>>>> 6a1cc918c4d17a2087e8cdffc8508075327bba42
}