@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background:#F93;
  
  font-family:Prompt;
}
.modal-title {
	text-align: center;
}

.istore-container {
	position: relative;
 	width: fit-content;
	max-height: 800px;
	overflow-y: scroll;
	margin-left: 15px;
	margin-top: 3%;
}

.scrollbar {
	float: left;
	background: #fff;
	overflow-y: scroll;
}

.scrollbar-warning::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 138, 0, 0.78);
}

.scrollbar-warning {
	scrollbar-color: rgba(255, 138, 0, 0.78) #F5F5F5;
}

.overlay1 {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #FF8A00;
}

.overlay2 {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #ffc107;
}

.istore1:hover .overlay1 {
  	opacity: 1;
}

.istore2:hover .overlay2 {
	opacity: 1;
}

.text {
	color: white;
  	font-size: 20px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.carousel {
	margin-top: 10px;
}

.carousel-item {
	max-height: 400px;
	overflow: hideen;
}

.carousel-item img {
	max-height: initial;
	margin-top: -15%;
}

@media (max-width: 767px) {

	#map {
		width: 100%; 
		height: 350px; 
		margin-top: 8%; 
	}
	#category {
		position: absolute;
		top: 3%; 
		left: 1%;
		z-index: 10;
	}
	#opentime {
		 position: absolute;
		 top: 3%; 
		 left: 25%; 
		z-index: 400;
	}
	#selectOverlay {
		position: absolute; 
		top: 3%; 
		left: 50%; 
		z-index: 10;
	}
	#drawingMap {
		position: absolute;
		top: 3%; 
		left: 75%; 
		z-index: 10;
	}
}

@media (min-width: 768px) {

	#map {
		width: 100%; 
		height: 450px; 
		margin-top: 3%; 
	}	
	#category {
		position: absolute;
		top: 3%; 
		left: 1%;
		z-index: 10;
	}
	#opentime {
		position: absolute;
		top: 3%; 
		left: 25%; 
		z-index: 10;
	}
	#selectOverlay {
		position: absolute; 
		top: 3%; 
		left: 60%; 
		z-index: 10;
	}
	#drawingMap {
		position: absolute;
		top: 3%; 
		left: 85%; 
		z-index: 10;
	}
}

@media (min-width: 992px) {
	#map {
		width: 850px; 
		height: 400px; 
		margin-top:5%; 
	}
	#category {
		position: absolute;
		top: 3%; 
		left: 1%;
		z-index: 10;
	}
	#opentime {
		position: absolute;
		top: 3%; 
		left: 20%; 
		z-index: 10;
	}
	#selectOverlay {
		position: absolute; 
		top: 3%; 
		left:70%; 
		z-index: 10;
	}
	#drawingMap {
		position: absolute;
		top: 3%; 
		left:88%; 
		z-index: 10;
	}
}

@media (min-width: 1200px) {
	#map {
		width: 960px; 
		height: 400px; 
		margin-top: 3%;
	}
	#category {
		position: absolute;
		top: 3%; 
		left: 1%;
		z-index: 10;
	}
	#opentime {
		position: absolute;
		top: 3%; 
		left: 14%; 
		z-index: 10;
	}
	#selectOverlay {
		position: absolute; 
		top: 3%; 
		left: 73%; 
		z-index: 10;
	}
	#drawingMap {
		position:absolute;
		top: 3%; 
		left:86%; 
		z-index: 10;
	}


.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.progress-container {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.progress-container label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
}

