@charset "UTF-8";

/*화면 전체를 어둡게 합니다.*/
.wrap-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 9990;
    overflow: hidden;
    height: 100%;
}

/*로딩 이미지*/
.wrap-loading div { /*로딩 이미지*/
	width:100px;
	hieght: 100px;
	position: absolute;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 9999;
}

/*감추기*/
.display-none {
	display:none;
}





