

@charset "UTF-8";
header{
	background-color: #fff;
	width : 100%;
	position: fixed;
	z-index : 6;
	}

.shadow{
	  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	}

.container_profile{
	width: 1000px; 
	margin: 100px auto 0 auto;
	background-color: #fff;
	text-align : center;
}	
.mypage_profile{
	position : inline-block;
	text-align : center;
	width: 900px;
	height: 240px;
	margin : 0 auto;
	border-radius : 10px;
	
}

.mypage_profile_header_img{
	border-radius:5px;
	width: 100%;
	height: 100%;
	margin : 0 auto;
}
.mypage_profile_table{
	width: 120px;
	height: 210px;
	margin : 0 auto;
}

.mypage_profile_user_name{
	height: 30px;
}
.mypage_profile_user_name{
	text-align : center;
	font-weight: bold;
	font-size: 30px;
}
.user_profile{
	width : 120px;
}
.user_profile_de{
	width : 120px;
}


#followBtn{
   background-color: #fff;
   font-size: 15px;
   font-weight: bold;
   width:70px; 
   height:30px;
   border: none;
   color:#a6a6a6;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   border-radius:20px;
}
#followBtn:focus{
	border : none;
	outline:none;
}
#followBtn:hover {
    color: #FF8A00;
    transition:color .2s ease;
}

#unfollowBtn{
   background-color: #fff;
   font-family: JejuGothic;
   font-size: 14px;
   font-weight: bold;
   width:70px; 
   height:30px;
   border: none;
   color:#FF8A00;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   border-radius:20px;
}

#unfollowBtn:focus{
	border : none;
	outline:none;
}
#unfollowBtn:hover {
    background-color: #fff;
    transition:color .2s ease;
}

.mypage_buttons{
	position : inline-block;
	width: 900px;
	height: 55px;
	margin : 10px auto;
}

.mypage_button{

   background-color: #fff;
   font-weight: bold;
   width:295px;
   border: none;
   color:#000;
   padding: 15px 0;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   margin: 1px;
   cursor: pointer;
}
.mypage_button:focus{
	outline:none;
	transition:color .2s ease;
}
.btn_on{
	color:#FF8A00;
	border-bottom : 3px solid #FF8A00;
}
.btn_on:focus{
	outline:none;
	transition:border-bottom .2s ease;
}
.btn_off{
	color : #000;
	border : none;
}

.mypage_list{
	width: 900px;
	height: 130px;
	margin : 10px auto;
	
}


.noReply{
	margin : 30px auto 100px auto;
}

.mypage_replies{
	width: 900px;
	margin :  30px auto 100px auto;
   border-top: 1px solid #e9e9e9;
   padding-top : 60px;
}
.reply_cate_profile{
	width: 55px;
	height: 55px;
	margin : 10px auto;
}

.reply_cate_name{
	text-align : center;
	color : #FF8A00;
}
.reply_heart_on{
	width: 28px;
	height: 28px;
}
.reply_heart_off{
	width: 25px;
	height: 25px;
}
.reply_map{
	width: 23px;
	height: 23px;
	margin : 3px 5px;
}

.reply_outer{
	width : 720px;
	margin-left : 10px;
}
.reply_inner01{
	float : left;
	width : 15%;
}
.reply_inner02{
	float : left;
	width : 85%;
	text-align :left;
	padding-left : 15px;
}

.readAction{
	position: relative;
	left : 390px;
	width : 300px;
}



@media(max-width: 1360px){
	.container_profile{
		width : 100%;
	}
}

@media (max-width: 1100px){
	.mypage_profile{width : 100%; left:0;}
	.mypage_buttons{display:none;}
	.mypage_list{display:none;}
	.mypage_replies{width : 100%; left:0;}
}


      
 /* 화면 너비 0 ~ 480px */
 @media (max-width: 480px){
     .mypage_profile{width : 100%; left:0;}
	.mypage_replies{width : 100%; left:0;}
}




