

@charset "UTF-8";

.mypage_profile{
	position: relative;
	width: 900px;
	height: 240px;
	left: 100px;
	background-color : beige;
	border-radius : 10px;
}

.mypage_profile_header_img{
	position: absolute; 
	border-radius:5px;
	top:0; 
	left: 0;
	width: 100%;
	height: 100%;
}
.mypage_profile_table{
	position: absolute;
	width: 120px;
	height: 180px;
	left: 390px;
	top: 28px;
}

.mypage_profile_user_name{
	height: 30px;
}
.mypage_profile_user_name{
	text-align : center;
	font-weight: bold;
	font-size: 30px;
}
.user_profile{
	width : 120px;
}
.user_profile_de{
	width : 120px;
}


#followBtn{
   background-color: #fff;
   font-size: 15px;
   font-weight: bold;
   width:70px; 
   height:30px;
   border: none;
   color:#a6a6a6;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   border-radius:20px;
}
#followBtn:focus{
	border : none;
	outline:none;
}
#followBtn:hover {
    color: #FF8A00;
    transition:color .2s ease;
}

#unfollowBtn{
   background-color: #fff;
   font-family: JejuGothic;
   font-size: 14px;
   font-weight: bold;
   width:70px; 
   height:30px;
   border: none;
   color:#FF8A00;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   border-radius:20px;
}

#unfollowBtn:focus{
	border : none;
	outline:none;
}
#unfollowBtn:hover {
    background-color: #fff;
    transition:color .2s ease;
}

.mypage_buttons{
	position: relative;
	width: 900px;
	height: 55px;
	left: 100px;
	top : 20px;
}

.mypage_button{

   background-color: #fff;
   font-weight: bold;
   width:295px;
   border: none;
   color:#000;
   padding: 15px 0;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   margin: 1px;
   cursor: pointer;
}
.mypage_button:focus{
	outline:none;
	transition:color .2s ease;
}
.btn_on{
	color:#FF8A00;
	border-bottom : 3px solid #FF8A00;
}
.btn_on:focus{
	outline:none;
	transition:border-bottom .2s ease;
}
.btn_off{
	color : #000;
	border : none;
}

.mypage_list{
	position: relative;
	width: 900px;
	height: 130px;
	left: 100px;
	top : 40px;
}

.mapDiv{
	position: relative;
	width: 900px;
	height : 300px;
	left: 100px;
	top: 20px;
	background-color : gray;
}

.noReply{
	position: relative;
	margin : 100px 300px;

}

.mypage_replies{
	position: relative;
	width: 900px;
	left: 100px;
	top:34px;

}
.reply_cate_profile{
	width: 55px;
	height: 55px;
	margin : 10px 10px;
}

.reply_cate_name{
	text-align : center;
	color : #FF8A00;
}
.reply_heart_on{
	width: 28px;
	height: 28px;
}
.reply_heart_off{
	width: 25px;
	height: 25px;
}
.reply_map{
	width: 23px;
	height: 23px;
	margin : 3px 5px;
}

.reply_outer{
	width : 720px;
	margin-left : 70px;
}
.reply_inner01{
	float : left;
	width : 15%;
}
.reply_inner02{
	float : left;
	width : 85%;
}

.readAction{
	position: relative;
	left : 390px;
	width : 300px;
}



@media(max-width: 1360px){
	.container{
		width : 100%;
	}
}

@media (max-width: 1100px){
	.mypage_profile{width : 100%; left:0;}
	.mypage_buttons{width : 100%; left:0;}
	.mypage_list{width : 100%; left:0;}
	.mypage_replies{width : 100%; left:0;}
}





#scroll_box2{width: 900px; height: 420px; overflow-y: scroll; }
#scroll_box2::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
}
#scroll_box2::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 5px;
  background: #fff;
}
#scroll_box2::-webkit-scrollbar-track {
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius:10px;
}
#scroll_box2::-webkit-scrollbar-thumb {
  height: 50px;
  width: 50px;
  background: rgba(0,0,0,.2);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

